

    <div> 

        <table class="table">
            <tr>
                <th>Report Name</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Show Registered Course for Each Student</td>
                <td>@Html.ActionLink("View", "RegisteredCourseForStudent")</td>
            </tr>
            <tr>
                <td>Student List for Each Course</td>
                <td>@Html.ActionLink("View", "StudentListForCourse")</td>
            </tr>
            <tr>
                <td>Student Not Registerd for Max Course</td>
                <td>@Html.ActionLink("View", "StudentNotRegisteredForMaxCourse")</td>
            </tr>
            <tr>
                <td>Course with Space Left</td>
                <td>@Html.ActionLink("View", "CoursesWithSpace")</td>
            </tr>
        </table>

    </div>

